<!DOCTYPE html>
<html>

{{>head}}

<body>

    {{>header}}

    <!--  ########## PAGE CONTENT ##########  -->
    <!-- Title -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="/images/imagenFotoPerfil.jpg" class="card-img-top rounded-circle img-fluid mx-auto"
                            alt="Imagen de Perfil" style="width: 100px; height: 100px">
                        <br></br>
                        <div class="text-content">
                            <h2>Name</h2>
                            <br></br>
                            <h4>{{name}} - {{examsStudentName}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <br></br>

    {{>navbar_subjects}}


    <section class="blog-posts grid-system" id="exams_student_subject">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Mark</th>
                                <th scope="col">View</th>
                                <th scope="col"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#examsStudent}}
                            <tr>
                                <form id="examStudentForm"
                                    action="/teachers/subject/{{subjectId}}/type-exams/{{examId}}/correct-exams"
                                    method="post">

                                    <td>{{student.firstName}} {{student.lastName}}</td>

                                    <td>
                                        <div class="col-md-4 col-sm-12">
                                            <fieldset>
                                                <input type="text" name="mark" value="{{mark}}" />
                                                <input type="hidden" name="examStudentId" value="{{examStudentId}}">
                                            </fieldset>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="main-button">
                                                    <a
                                                        href="/teachers/subject/{{subjectId}}/type-exams/{{examId}}/download?examStudentId={{examStudentId}}">Open</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <fieldset>
                                                    <button type="submit" id="signup-submit"
                                                        class="main-button">Save</button>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </td>
                                </form>

                            </tr>

                            {{/examsStudent}}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>


    {{>footer}}

</body>

</html>