<!--  ########## HEADER ##########  -->

  <!-- ***** Preloader Start ***** -->
  <div id="preloader">
      <div class="jumper">
          <div></div>
          <div></div>
          <div></div>
      </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- Header -->
  <header class="">
      <nav class="navbar navbar-expand-lg">
          <div class="container">
              <a class="navbar-brand" href="/">
                  <h2>Estudoku<em>.</em></h2>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                      {{^logged}}
                      <li class="nav-item">
                          <a class="nav-link" href="/sign-up">SignUp</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/login">Log In</a>
                    </li>
                    {{/logged}}
                    {{#logged}}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">My profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/subjects_registereduser">My subjects</a>
                      </li>
                      <li><form action="/logout" method="post">
                        <button class="btn btn-default navbar-btn" type="submit">LogOut</button>
                        <input type="hidden" name="_csrf" value="{{token}}" />
                      </form></li>
                    {{/logged}}
                  </ul>
              </div>
          </div>
      </nav>
  </header>