<!DOCTYPE html>
<html>

{{>head}}

<body>

    {{>header}}

    <!-- BANNER PARA PONER ASIGNATURAS -->
    <div class="main-banner header-text">
        <div class="container-fluid">
            <div class="owl-banner owl-carousel">
                {{#subjects}}
                <div class="item">
                    <img src="/images/banner-item-02.jpg" alt="">
                    <div class="item-content">
                        <div class="main-content">
                            <div class="meta-category">
                                <span>{{gender}}</span>
                            </div>
                            <a href="/subject/{{id}}">
                                <h4>{{name}}</h4>
                            </a>
                        </div>
                    </div>
                </div>
                {{/subjects}}
            </div>
        </div>
    </div>

    <section class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="centered-div">
                                    <h4 style="color: #f48840;">Estudoku</h4>
                                    <br></br>
                                    <h6 style="color:#fff">Welcome to our website! Here, you'll discover a diverse array
                                        of subjects waiting to be explored. Join our platform to enroll in subjects,
                                        delve into new topics, and
                                        expand your knowledge horizons. Whether you're seeking to deepen your
                                        understanding of a specific field or embark on a learning journey across various
                                        disciplines,
                                        our platform offers a gateway to boundless educational opportunities. Join us
                                        today
                                        and embark on a path of continuous learning and growth!</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 centered-div">
                    <div class="all-blog-posts">
                        <div class="row">
                            {{#subjects}}
                            <!-- ITEM -->
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src={{banner}} alt="">
                                    </div>
                                    <div class="down-content">
                                        <a href='/subject/{{id}}' class="subject-link">
                                            {{name}}
                                        </a>
                                        <p>{{description}}
                                        </p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        <!--SE PUEDEN USAR PARA EL ALGORITMO DE RECOMENDACIÓN-->
                                                        <li><i class="fa fa-tags"></i></li>
                                                        <li><a href="#">{{gender}}</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/subjects}}
                            <div class="col-lg-6">
                                <div class="main-button">
                                    {{#hasPrev}}<a href="/?page={{prevPage}}">Previus Page</a>{{/hasPrev}}
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="main-button">
                                    {{#hasNext}}<a href="/?page={{nextPage}}">Next Page</a>{{/hasNext}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}

</body>

</html>