<!DOCTYPE html>
<html>

{{>head}}

<body>

    {{>header}}

    <!-- BANNER PARA PONER ASIGNATURAS -->
    <div class="main-banner header-text">
        <div class="container-fluid">
            <div class="owl-banner owl-carousel">
                {{#subjects}}
                <div class="item">
                    <img src="/images/banner-item-02.jpg" alt="">
                    <div class="item-content">
                        <div class="main-content">
                            <div class="meta-category">
                                <span>{{gender}}</span>
                            </div>
                            <a href="/subject/{{id}}">
                                <h4>{{name}}</h4>
                            </a>
                        </div>
                    </div>
                </div>
                {{/subjects}}
            </div>
        </div>
    </div>

    <!-- INFO WEB PAGE -->
    <section class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="centered-div">
                                    <h4 style="	color: #f48840;">Estudoku</h4>
                                    <br></br>
                                    <h6 style="color:#fff">Welcome to our website! Here, you'll discover a diverse array
                                        of subjects waiting to be explored. Join our platform to enroll in subjects,
                                        delve into new topics, and
                                        expand your knowledge horizons. Whether you're seeking to deepen your
                                        understanding of a specific field or embark on a learning journey across various
                                        disciplines,
                                        our platform offers a gateway to boundless educational opportunities. Join us
                                        today
                                        and embark on a path of continuous learning and growth!</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 centered-div">
                    <div class="all-blog-posts">
                        <div class="row">

                            <div id="subjectsContainer"></div>

                            <div id="spinner" style="display: none; margin: 0 auto;">
                                <img src="/images/spinner.gif" alt="Loading..." />
                            </div>

                            <div class="col-lg-12">
                                <div class="main-button">
                                    <a id="loadMoreButton">View More</a> <!-- PARA AJAX-->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>
        var page = 0;
        var size = 2; //CHANGE TO 10

        function loadSubjects() {
            // Mostrar la animación de espera
            document.getElementById('spinner').style.display = 'block';

            fetch('/subjectInfo?page=' + page + '&size=' + size)
                .then(response => response.json())
                .then(data => {
                    var subjectsContainer = document.getElementById('subjectsContainer');
                    data.forEach(subject => {
                        var subjectItem = document.createElement('div');
                        subjectItem.classList.add('col-lg-12');
                        subjectItem.innerHTML = `
                    <div class="blog-post">
                        <div class="blog-thumb">
                            <img src=${subject.banner} alt="">
                        </div>
                        <div class="down-content">
                            <a href='/subject/${subject.id}' class="subject-link">${subject.name}</a>
                            <p>${subject.description}</p>
                            <div class="post-options">
                                <div class="row">
                                    <div class="col-6">
                                        <ul class="post-tags">
                                            <!--SE PUEDEN USAR PARA EL ALGORITMO DE RECOMENDACIÓN-->
                                            <li><i class="fa fa-tags"></i></li>
                                            <li><a href="#">${subject.gender}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`;
                        subjectsContainer.appendChild(subjectItem);
                    });
                    page++;

                    // Ocultar la animación de espera una vez que se completan los datos
                    document.getElementById('spinner').style.display = 'none';
                })
                .catch(error => {
                    console.error('Error:', error);
                    // En caso de error, asegúrate de ocultar la animación de espera
                    document.getElementById('spinner').style.display = 'none';
                });
        }

        // Cargar los primeros subjects al cargar la página
        document.addEventListener('DOMContentLoaded', function () {
            loadSubjects();
        });

        // Cargar más subjects cuando se hace clic en el botón
        document.getElementById('loadMoreButton').addEventListener('click', function () {
            loadSubjects();
        });
    </script>

    {{>footer}}

</body>

</html>