{{>head}} 
    <body>
    {{>header}}
    <!-- BANNER PARA PONER ASIGNATURAS -->
    <div class="main-banner header-text">
        <div class="container-fluid">
            <div class="owl-banner owl-carousel">
                <div class="item">
                    <img src="/images/banner-item-02.jpg" alt="">
                    <div class="item-content">
                        <div class="main-content">
                            <div class="meta-category">
                                <span>Programación</span>
                            </div>
                            <a href="subject_info.html">
                                <h4>Estructura de Datos</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/images/banner-item-04.jpg" alt="">
                    <div class="item-content">
                        <div class="main-content">
                            <div class="meta-category">
                                <span>Programación</span>
                            </div>
                            <a href="subject_info.html">
                                <h4>Desarrollo de Aplicaciones Web</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/images/banner-item-02.jpg" alt="">
                    <div class="item-content">
                        <div class="main-content">
                            <div class="meta-category">
                                <span>Matemáticas</span>
                            </div>
                            <a href="subject_info.html">
                                <h4>Cálculo</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="/images/banner-item-04.jpg" alt="">
                    <div class="item-content">
                        <div class="main-content">
                            <div class="meta-category">
                                <span>Infantil</span>
                            </div>
                            <a href="subject_info.html">
                                <h4>Macarrones</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- INFO WEB PAGE -->
    <section class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="centered-div">
                                    <h4 style="	color: #f48840;">Studoku</h4>
                                    <br></br>
                                    <h6 style="color:#fff">Welcome to our website! Here, you'll discover a diverse array
                                        of subjects waiting to be explored. Join our platform to enroll in subjects, delve into new topics, and
                                        expand your knowledge horizons. Whether you're seeking to deepen your
                                        understanding of a specific field or embark on a learning journey across various disciplines,
                                        our platform offers a gateway to boundless educational opportunities. Join us today
                                        and embark on a path of continuous learning and growth!</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 centered-div">
                    <div class="all-blog-posts">
                        <div class="row">

                            <!-- ITEM -->
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="/images/blog-post-01.jpg" alt="">
                                    </div>
                                    <div class="down-content">
                                        <a href="subject_info.html" class="subject-link">
                                            Estructura de Datos
                                        </a>
                                        <p>Esta asignatura pretende ser un curso introductorio a las estructuras de
                                            datos clásicas tratadas con el enfoque de tipos
                                            abstractos de datos (TAD), y al desarrollo metodológico de programas que
                                            usen dichas estructuras. Al terminar el curso, los
                                            alumnos deberán conocer las propiedades, el funcionamiento y las posibles
                                            implementaciones de las principales estructuras de
                                            datos, y saber cuándo y cómo utilizarlas para la resolución de problemas.
                                        </p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        <!--SE PUEDEN USAR PARA EL ALGORITMO DE RECOMENDACIÓN-->
                                                        <li><i class="fa fa-tags"></i></li>
                                                        <li><a href="#">Programación</a>,</li>
                                                        <li><a href="#">Suspender</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- ITEM-->
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="/images/blog-post-02.jpg" alt="">
                                    </div>
                                    <div class="down-content">
                                        <a href="subject_info.html" class="subject-link">
                                            Desarrollo de Aplicaciones Web
                                        </a>
                                        <p>El objetivo de la asignatura de “Desarrollo de Aplicaciones Web” es ofrecer
                                            al alumno una visión general del desarrollo de las
                                            aplicaciones diseñadas para ser utilizadas a través de navegadores Web, ya
                                            sea en ordenadores personales o en dispositivos
                                            móviles como teléfonos inteligentes y tabletas. La asignatura presenta las
                                            características más importantes del desarrollo de
                                            aplicaciones Web y proporciona al alumno una panorámica general de las
                                            tecnologías, arquitecturas y protocolos más utilizados
                                            en el desarrollo de este tipo de aplicaciones. Su principal objetivo es que
                                            los alumnos apliquen estos conocimientos en la
                                            construcción de una aplicación web real con unas funcionalidades similares a
                                            las que podría tener cualquier web profesional.
                                        </p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        <li><i class="fa fa-tags"></i></li>
                                                        <li><a href="#">Programación</a>,</li>
                                                        <li><a href="#">Web</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="main-button">
                                    <a href="#">View All Subjects</a> <!-- PARA AJAX-->
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{{>footer}}