<!DOCTYPE html>
<html>

{{>head}}

<body>

  {{>header}}

  <!-- Banner Starts Here -->
  <div class="heading-page header-text">
    <section class="page-heading">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-content">
              <h2>PROFILE</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Banner Ends Here -->


  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <!-- Sección de datos personales -->
        <!-- Sección de datos personales con botón de editar perfil -->
        <div class="card">

          <div class="container mt-5">
            <div class="row">
              <img src="/images/imagenFotoPerfil.jpg" class="card-img-top rounded-circle img-fluid mx-auto"
                alt="Imagen de Perfil" style="width: 100px; height: 100px">
            </div>
          </div>

          <div class="container mt-5">
            <div class="card-body">
              <h5 class="card-title"><!--{{username}}--></h5>
              <p class="card-text"></p>
              <p class="card-text">Tipo de Usuario:</p>
              <p class="card-text">Ciudad: Madrid</p>
              <p class="card-text">Pais: España</p>
              <p class="card-text">Descripción: URJC</p>
              <!-- Botón para editar perfil -->
              <br></br>
              <div class="main-button">
                <a href="/editProfile">Edit Profile</a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-8">
        <!-- Sección de asignaturas y gráficos -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Asignaturas</h5>
            <ul class="list-group">
              <li class="list-group-item">
                <p>Asignatura 1: Nombre de la Asignatura 1</p>
              </li>
              <li class="list-group-item">
                <p>Asignatura 2: Nombre de la Asignatura 2</p>
              </li>
              <!-- Agrega más elementos de la lista según sea necesario -->
            </ul>
          </div>
        </div>

        <div class="mt-4">
          <!-- Sección de gráficos o fotos con datos -->
          <h5>Datos del Perfil</h5>
          <!-- Agrega aquí tus gráficos o fotos con datos -->
          <p>Gráfico 1: Notas Medias</p>
          <p>Gráfico 2: Otros Datos</p>
        </div>
      </div>
    </div>
  </div>

  {{>footer}}

</body>

</html>