<!DOCTYPE html>
<html>

{{>head}}

<body>

    {{>header}}

    <!--  ########## PAGE CONTENT ##########  -->
    <!-- Title -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="/images/imagenFotoPerfil.jpg" class="card-img-top rounded-circle img-fluid mx-auto"
                            alt="Imagen de Perfil" style="width: 100px; height: 100px">
                        <br></br>
                        <div class="text-content">
                            <h2>{{student.firstName}}</h2>
                            <br></br>
                            <h4>{{subject.name}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <br></br>

    <nav class="navbar navbar-expand-lg">
        <div class="col-lg-5">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#informacion_general"
                            onclick="changeContent('informacion_general')">General information</a>
                    </li>
                    <li class="nav-item">
                        <!--
                        aqui vamos a tener q diferenciar si el usuario que está usando la web
                        es un profe o un estudiante, ya que el html es distinto en función del
                        usuario
                    -->
                        <a class="nav-link" href="#exams_student_subject"
                            onclick="changeContent('exams_student_subject')">Exams</a>
                    </li>
                    <li class="nav-item">
                        <!-- Muestra todas las notas, cuando solo debería mostrar las de la asignatura en la que está -->
                        <a class="nav-link" href="#marks" onclick="changeContent('marks')">Marks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#forum" onclick="changeContent('forum')">Forum</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="blog-posts" id="informacion_general">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 centered-div">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <h2>Presentación de la asignatura</h2>
                                    <p>Estimado/a alumno/a,</p>
                                    <p>te doy la bienvenida a la asignatura de Estructuras de Datos, comprendida dentro
                                        del Grado en Ingeniería del Software en la que estás matriculado/a.</p>
                                    <p>En la guía docente adjunta en este apartado encontrarás toda la información
                                        inicial necesaria para su seguimiento, así como las instrucciones específicas
                                        para su desarrollo, la planificación temporal, aspectos relativos a la
                                        evaluación o los objetivos.</p>
                                    <p>Es conveniente que leas la guía docente antes de comenzar a desarrollar la
                                        asignatura. Una vez concluyas la lectura, te sugerimos que revises el correo con
                                        el objeto de comprobar si ya dispones de alguna comunicación mía. Por otro lado,
                                        si una vez leída toda la información que te adjuno en este apartado, tienes
                                        alguna duda concreta, te sugiero que me la consultes a través del bloque de
                                        "Correo" que tienes disponible en la parte izquierda de la pantalla o bien
                                        enviándome un correo electrónico, para que pueda ayudarte a comenzar tu
                                        formación de la manera más adecuada.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="blog-posts grid-system" id="marks" style="display: none;">
        <div class="container">

            <!-- Subject 1 -->

            <div class="row">
                <div class="col-lg-12">

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Mark</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#examStudents}}
                            <tr>
                                <td>{{exam.name}}</td>
                                <td>{{mark}}</td>
                            </tr>
                            {{/examStudents}}
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </section>

    <section class="blog-posts" id="exams_student_subject" style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 centered-div">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">View</th>
                                                <th scope="col">Upload</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#examStudents}}
                                            <tr>
                                                <td>{{exam.name}}</td>
                                                <td>

                                                    <div class="main-button">
                                                        <a
                                                            href="/subject_onesubj_student/{{subject.id}}/download?examId={{exam.id}}">Open</a>
                                                    </div>

                                                </td>
                                                <td>
                                                    <div class="col-md-7">
                                                    <!-- Formulario para subir archivos -->
                                                    <form id="uploadForm"
                                                        action="/subject_onesubj_student/{{subjectId}}/upload?examId={{exam.id}}"
                                                        method="POST" enctype="multipart/form-data">
                                                        <input type="file" name="file" accept=".pdf">
                                                        <div class="main-button">
                                                            <input type="submit" value="Up"/>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" name="_csrf" value="{{token}}">
                                                    </form>
                                                </div>
                                                </td>
                                            </tr>
                                            {{/examStudents}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="blog-posts grid-system" id="forum" style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 centered-div">
                    <div class="all-blog-posts">

                        <div class="blog-post">
                            <!-- Sección de Comentarios -->
                            {{#forums}}
                            <hr>
                            <div class="comentario">
                                <div class="autor">{{username}}</div>
                                <div class="fecha">{{date}}</div>
                                <div class="texto">
                                    <p>{{comment}}</p>
                                </div>
                            </div>
                            <hr>
                            {{/forums}}
                            <!-- Formulario para agregar nuevos comentarios -->

                            <form id="formulario-comentario" action="/subject_onesubj_student/{{subjectId}}"
                                method="POST">
                                <br><br>
                                <h2>Add Comment</h2>
                                <hr>
                                <div class="centered-div">
                                    <textarea name="comment" class="form-control" id="comment" rows="5"
                                        placeholder="Write here..."></textarea>
                                    <br><br>
                                    <div class="main-button">
                                        <input type="submit" value="Send" />
                                    </div>
                                </div>
                                <input type="hidden" name="_csrf" value="{{token}}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>
        function changeContent(sectionId) {
            let sec1 = document.getElementById("informacion_general")
            sec1.style.display = 'none'
            let sec2 = document.getElementById("exams_student_subject")
            sec2.style.display = 'none'
            let sec3 = document.getElementById("marks")
            sec3.style.display = 'none'
            let sec4 = document.getElementById("forum")
            sec4.style.display = 'none'
            const section = document.querySelector(`#${sectionId}`);
            section.style.display = 'block';
        }
    </script>

    {{>footer}}

</body>

</html>