{{>head}} 
    <body>
    {{>header}}

    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>Get Informed</h4>
                            <h2>Estructura de Datos</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="centered-div">
                <p>Congratulations, you have enrolled in a new subject!</p>
            </div>
        </div>
    </div>

    <section class="blog-posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 centered-div">
                    <div class="all-blog-posts">
                        <div class="row">

                            <!-- ITEM -->
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="assets/images/blog-post-01.jpg" alt="">
                                    </div>
                                    <div class="down-content">
                                        <h4>Estructura de Datos</h4>
                                        <p>Esta asignatura pretende ser un curso introductorio a las estructuras de
                                            datos clásicas tratadas con el enfoque de tipos
                                            abstractos de datos (TAD), y al desarrollo metodológico de programas que
                                            usen dichas estructuras. Al terminar el curso, los
                                            alumnos deberán conocer las propiedades, el funcionamiento y las posibles
                                            implementaciones de las principales estructuras de
                                            datos, y saber cuándo y cómo utilizarlas para la resolución de problemas.
                                        </p>
                                        <p>Las estructuras de datos junto con los algoritmos, son los pilares de la
                                            programación de computadores, por lo que se trata de
                                            una asignatura fundamental en cualquier titulación relacionada con la
                                            Informática. De hecho, una de las principales
                                            competencias de estas titulaciones es diseñar y desarrollar correctamente
                                            programas informáticos eficientes.
                                            Esta asignatura se imparte en el segundo cuatrimestre del primer curso de la
                                            titulación, como continuación de la asignatura de
                                            Introducción a la Programación del cuatrimestre anterior. Sirve por otro
                                            lado de base para el resto de asignaturas de
                                            programación que se imparten posteriormente en la titulación.</p>
                                        <p>Se considera fundamental que el alumno haya cursado con aprovechamiento la
                                            asignatura Introducción a la Programación del
                                            cuatrimestre anterior y que se desenvuelva correctamente con el lenguaje de
                                            programación utilizado. También es deseable que
                                            el alumno haya asimilado algunos conceptos fundamentales de matemática
                                            discreta y lógica impartidos en el cuatrimestre
                                            anterior.</p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        <!--SE PUEDEN USAR PARA EL ALGORITMO DE RECOMENDACIÓN-->
                                                        <li><i class="fa fa-tags"></i></li>
                                                        <li><a href="#">Programación</a>,</li>
                                                        <li><a href="#">Suspender</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="main-button">
                                    <a id="mostrarModalBtn">Enroll Now!</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>

        // COMPROBAR SI EL USUARIO TIENE LA SESION INICIADA O QUE EL BOTÓN PARA INSCRIBIRSE SOLO SE MUESTRE SI TIENE LA SESION INICIADA

        document.addEventListener('DOMContentLoaded', function () {
            var modal = document.getElementById('myModal');
            var span = document.getElementsByClassName('close')[0];
            var mostrarModalBtn = document.getElementById('mostrarModalBtn');

            // Función para mostrar el modal
            function mostrarModal() {
                // Mostrar el cuadro pop-up
                modal.style.display = 'block';
            }

            // Función para cerrar el modal
            function cerrarModal() {
                modal.style.display = 'none';
                window.location.href = "main_page.html"
            }

            // Evento clic del botón para mostrar el mensaje de alerta y el modal
            mostrarModalBtn.addEventListener('click', function () {
                // Mostrar el mensaje de alerta
                var opcion = confirm("Are you sure you want enroll in this subject?");
                if (opcion == true) {

                    //RECOGER DATOS DEL USUARIO PARA AÑADIRLO A LA ASIGNATURA

                    // Si el usuario pulsa "Aceptar", mostrar el modal
                    mostrarModal();

                    // Cerrar el cuadro pop-up después de 2 segundos
                    setTimeout(cerrarModal, 2000);
                }
            });


        });
    </script>

    {{>footer}}