{{>head}} 
    <body>
    {{>header}}


    <!--  ########## PAGE CONTENT ##########  -->
    <!-- Title -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="assets/images/imagenFotoPerfil.jpg"
                            class="card-img-top rounded-circle img-fluid mx-auto" alt="Imagen de Perfil"
                            style="width: 100px; height: 100px">
                        <br></br>
                        <div class="text-content">
                            <h2>Name</h2>
                            <br></br>
                            <h4>Estructura de Datos</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <br></br>

    <nav class="navbar navbar-expand-lg">
        <div class="col-lg-5">
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#informacion_general"
                            onclick="changeContent('informacion_general')">General information</a>
                    </li>
                    <li class="nav-item">
                        <!--
                            aqui vamos a tener q diferenciar si el usuario que está usando la web
                            es un profe o un estudiante, ya que el html es distinto en función del
                            usuario
                        -->
                        <a class="nav-link" href="#exams_student_subject"
                            onclick="changeContent('exams_student_subject')">Exams</a>
                    </li>
                    <li class="nav-item">
                        <!-- Muestra todas las notas, cuando solo debería mostrar las de la asignatura en la que está -->
                        <a class="nav-link" href="#marks" onclick="changeContent('marks')">Marks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#forum" onclick="changeContent('forum')">Forum</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="blog-posts" id="informacion_general">
        <div class="container">


            <div class="row">
                <div class="col-8"></div>
                <div class="col-2">
                    <div class="main-button">
                        <a class="nav-link">Add Teacher</a>
                    </div>
                </div>
                <div class="col-2">
                    <div class="main-button">
                        <a class="nav-link">Add Student</a>
                    </div>
                </div>
            </div>
            </br>

            <div class="row">
                <div class="col-lg-12 centered-div">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <h2>Presentación de la asignatura</h2>
                                    <p>Estimado/a alumno/a,</p>
                                    <p>te doy la bienvenida a la asignatura de Estructuras de Datos, comprendida dentro
                                        del Grado en Ingeniería del Software en la que estás matriculado/a.</p>
                                    <p>En la guía docente adjunta en este apartado encontrarás toda la información
                                        inicial necesaria para su seguimiento, así como las instrucciones específicas
                                        para su desarrollo, la planificación temporal, aspectos relativos a la
                                        evaluación o los objetivos.</p>
                                    <p>Es conveniente que leas la guía docente antes de comenzar a desarrollar la
                                        asignatura. Una vez concluyas la lectura, te sugerimos que revises el correo con
                                        el objeto de comprobar si ya dispones de alguna comunicación mía. Por otro lado,
                                        si una vez leída toda la información que te adjuno en este apartado, tienes
                                        alguna duda concreta, te sugiero que me la consultes a través del bloque de
                                        "Correo" que tienes disponible en la parte izquierda de la pantalla o bien
                                        enviándome un correo electrónico, para que pueda ayudarte a comenzar tu
                                        formación de la manera más adecuada.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section class="blog-posts grid-system" id="exams_student_subject" style="display: none;">

        <div class="container">


            <div class="row">
                <div class="col-10"></div>
                <div class="col-2">
                    <div class="main-button">
                        <a class="nav-link">Add Exam</a>
                    </div>
                </div>
            </div>
            </br>

            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">View</th>
                                <th scope="col">Upload</th>
                                <th scope="col">Correct</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Exam 1</td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="main-button">
                                                <a>Open</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="main-button">
                                                <a>Up</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="main-button">
                                                <a class="nav-link" href="#exams_allstudent_subject"
                                                    onclick="changeContent('exams_allstudent_subject')">Correct</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Exam 2</td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="main-button">
                                                <a>Open</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="main-button">
                                                <a>Up</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="main-button">
                                                <a class="nav-link" href="#exams_allstudent_subject"
                                                    onclick="changeContent('exams_allstudent_subject')">Correct</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Exam 3</td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="main-button">
                                                <a>Open</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="main-button">
                                                <a>Up</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="main-button">
                                                <a class="nav-link" href="#exams_allstudent_subject"
                                                    onclick="changeContent('exams_allstudent_subject')">Correct</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Final Exam</td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="main-button">
                                                <a>Open</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="main-button">
                                                <a>Up</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="main-button">
                                                <a class="nav-link" href="#exams_allstudent_subject"
                                                    onclick="changeContent('exams_allstudent_subject')">Correct</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>



    <section class="blog-posts grid-system" id="exams_allstudent_subject" style="display: none;">
        <div class="container">
            <b>Exam 1</b>
            <!-- Subject 1 -->
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Names</th>
                                <th scope="col">View</th>
                                <th scope="col">Edit Note</th>
                                <th scope="col">Correct exam</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>María Belén Esteban Menéndez</td>
                                <td id="job4">9.25</td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="main-button">
                                                <a class="nav-link">Edit</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="main-button">
                                                <a href="viewmarks_teacher-onestudent.html">Open</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Gonzalo Julián Conde</td>
                                <td id="job4">9.25</td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="main-button">
                                                <a class="nav-link">Edit</a>
                                            </div>
                                        </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="main-button">
                                                <a href="viewmarks_teacher-onestudent.html">Open</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Jordi Hurtado Torres</td>
                                <td id="job4">9.25</td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="main-button">
                                                <a class="nav-link">Edit</a>
                                            </div>
                                        </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="main-button">
                                                <a href="viewmarks_teacher-onestudent.html">Open</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Francisco José Rivera Pantoja</td>
                                <td id="job4">9.25</td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="main-button">
                                                <a class="nav-link">Edit</a>
                                            </div>
                                        </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-5">
                                            <div class="main-button">
                                                <a href="viewmarks_teacher-onestudent.html">Open</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </section>

    <section class="blog-posts" id="marks" style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 centered-div">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col"></th>
                                                <th scope="col">Proyect 1</th>
                                                <th scope="col">Proyect 2</th>
                                                <th scope="col">
                                                    <Fieldset>Final Exam</Fieldset>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Antonia de la Rosa Gonzalez</td>
                                                <td>10</td>
                                                <td>1.2</td>
                                                <td>9.8</td>

                                            </tr>
                                            <tr>
                                            <tr>
                                                <td>Belen Esteban Salvame</td>
                                                <td>10</td>
                                                <td>1.2</td>
                                                <td>9.8</td>

                                            </tr>
                                            </tr>
                                            <tr>
                                            <tr>
                                                <td>Kiko Rivera Pantoja</td>
                                                <td>10</td>
                                                <td>1.2</td>
                                                <td>9.8</td>

                                            </tr>
                                            </tr>
                                            <tr>
                                            <tr>
                                                <td>Hjadsos JSWOQ UHSFSUD</td>
                                                <td>10</td>
                                                <td>1.2</td>
                                                <td>9.8</td>

                                            </tr>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <section class="blog-posts grid-system" id="forum" style="display: none;">
        <div class="container">
    
            <!-- Aquí tenemos que volver a diferenciar el tipo de usuario ya que los
                 alumnos no pueden borrar comentarios -->
    
            <!-- Sección de Comentarios -->
            <div class="comentario">
                <div class="autor">Nombre del Usuario</div>
                <div class="fecha">12 de febrero de 2024</div>
                <div class="texto">
                    <p>cuerpo del comentario 1</p>
                </div>
                <button onclick="borrarComentario(this)">Borrar Comentario</button>
            </div>
    
            <hr>

            <div class="comentario">
                <div class="autor">Otro Usuario</div>
                <div class="fecha">13 de febrero de 2024</div>
                <div class="texto">
                    <p>cuerpo del comentario 2</p>
                </div>
                <button onclick="borrarComentario(this)">Borrar Comentario</button>
            </div>

            <hr>
    
            <!-- Formulario para agregar nuevos comentarios -->
            <form id="formulario-comentario">
                <h2>Añadir Comentario</h2>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required>
    
                <label for="comentario">Comentario:</label>
                <textarea id="comentario" name="comentario" required></textarea>
    
                <button type="submit">Enviar Comentario</button>
            </form>
    
        </div>
    </section>

    <script>
        function changeContent(sectionId) {
            let sec1 = document.getElementById("informacion_general")
            sec1.style.display = 'none'
            let sec2 = document.getElementById("exams_student_subject")
            sec2.style.display = 'none'
            let sec3 = document.getElementById("marks")
            sec3.style.display = 'none'
            let sec4 = document.getElementById("exams_allstudent_subject")
            sec4.style.display = 'none'
            let sec5 = document.getElementById("forum")
            sec5.style.display = 'none'
            const section = document.querySelector(`#${sectionId}`);
            section.style.display = 'block';
        }
    </script>

    {{>footer}}