<!DOCTYPE html>
<html>

{{>head}}

<body>

    {{>header}}

    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>Get Informed</h4>
                            <h2>{{subject.name}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="centered-div">
                <p>Congratulations, you have enrolled in a new subject!</p>
            </div>
        </div>
    </div>

    <section class="blog-posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 centered-div">
                    <div class="all-blog-posts">
                        <div class="row">

                            <!-- ITEM -->
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src={{subject.banner}} alt="">
                                    </div>
                                    <div class="down-content">
                                        <h4>{{subject.name}}</h4>
                                        <p>{{subject.description}}</p>
                                        <p>{{subject.allInfo}}</p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        <!--SE PUEDEN USAR PARA EL ALGORITMO DE RECOMENDACIÓN-->
                                                        <li><i class="fa fa-tags"></i></li>
                                                        <li><a>{{subject.gender}}</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="main-button">
                                    <a id="mostrarModalBtn">Enroll Now!</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>

        // COMPROBAR SI EL USUARIO TIENE LA SESION INICIADA O QUE EL BOTÓN PARA INSCRIBIRSE SOLO SE MUESTRE SI TIENE LA SESION INICIADA

        document.addEventListener('DOMContentLoaded', function () {
            var modal = document.getElementById('myModal');
            var span = document.getElementsByClassName('close')[0];
            var mostrarModalBtn = document.getElementById('mostrarModalBtn');

            // Función para mostrar el modal
            function mostrarModal() {
                // Mostrar el cuadro pop-up
                modal.style.display = 'block';
            }

            // Función para cerrar el modal
            function cerrarModal() {
                modal.style.display = 'none';
                window.location.href = "/"
            }

            // Evento clic del botón para mostrar el mensaje de alerta y el modal
            mostrarModalBtn.addEventListener('click', function () {
                // Mostrar el mensaje de alerta
                var opcion = confirm("Are you sure you want enroll in this subject?");
                if (opcion == true) {

                    //RECOGER DATOS DEL USUARIO PARA AÑADIRLO A LA ASIGNATURA

                    // Si el usuario pulsa "Aceptar", mostrar el modal
                    mostrarModal();

                    // Cerrar el cuadro pop-up después de 2 segundos
                    setTimeout(cerrarModal, 2000);
                }
            });


        });
    </script>

    {{>footer}}

</body>

</html>