<!DOCTYPE html>
<html>

{{>head}}

<body>

    {{>header}}

    <!--  ########## PAGE CONTENT ##########  -->
    <!-- Title -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="/images/imagenFotoPerfil.jpg" class="card-img-top rounded-circle img-fluid mx-auto"
                            alt="Imagen de Perfil" style="width: 100px; height: 100px">
                        <br></br>
                        <div class="text-content">y
                            <h2>{{user.firstName}}</h2>
                            <br></br>
                            <h4>My Subjects</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- End Title -->


    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row" id="subjectsContainer">
                            <!-- ITEM -->
                        </div>
                        <div class="row">
                            <div id="spinner" style="display: none; margin: 0 auto;">
                                <img src="/images/spinner.gif" alt="Loading..." />
                            </div>

                            <div class="col-lg-10">
                                <div class="main-button">
                                    <a id="loadMoreButton">View More</a> <!-- PARA AJAX-->
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- PARA EL ALGORITMO DE RECOMENDACIÓN -->
                <div class="col-lg-4">
                    <div class="sidebar">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="sidebar-item recent-posts">
                                    {{#isStudent}} <!-- Solo mostrar si es estudiante -->
                                    <div class="sidebar-heading">
                                        <h2>Recommended subjects</h2>
                                    </div>
                                    <div class="content">
                                        <ul>
                                            {{#recommendedSubjects}}
                                            <li><a href="/subject/{{id}}">
                                                <h5>{{name}}</h5>
                                            </a></li>
                                            {{/recommendedSubjects}}
                                        </ul>
                                    </div>
                                    {{/isStudent}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <script>
        var page = 0;
        var size = 2; //CHANGE TO 10

        function loadSubjects() {
            // Mostrar la animación de espera
            document.getElementById('spinner').style.display = 'block';

            fetch('/subjectUser?page=' + page + '&size=' + size)
                .then(response => response.json())
                .then(data => {
                    var subjectsContainer = document.getElementById('subjectsContainer');
                    data.forEach(subject => {
                        var subjectItem = document.createElement('div');
                        subjectItem.classList.add('col-lg-5');
                        subjectItem.innerHTML = `
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="/images/blog-thumb-01.jpg" alt="">
                                    </div>
                                    <div class="down-content">
                                        <a href="/subject_onesubj_student/${subject.id}"
                                            class="subject-link">
                                            ${subject.name}
                                        </a>
                                    </div>
                                </div>
                            `;
                        subjectsContainer.appendChild(subjectItem);
                    });
                    page++;

                    // Ocultar la animación de espera una vez que se completan los datos
                    document.getElementById('spinner').style.display = 'none';
                })
                .catch(error => {
                    console.error('Error:', error);
                    // En caso de error, asegúrate de ocultar la animación de espera
                    document.getElementById('spinner').style.display = 'none';
                });
        }

        // Cargar los primeros subjects al cargar la página
        document.addEventListener('DOMContentLoaded', function () {
            loadSubjects();
        });

        // Cargar más subjects cuando se hace clic en el botón
        document.getElementById('loadMoreButton').addEventListener('click', function () {
            loadSubjects();
        });
    </script>

    {{>footer}}

</body>

</html>