<!-- @format -->

{{#moreSubjects}}

<tr>
    <td>{{name}}</td>
    <td>
        <div class="col-6">
            <div class="main-button">
                <a class="nav-link" href="/admins/subject?subjectId={{id}}">View</a>
            </div>
        </div>
    </td>
    <td>
        <div class="col-6">
            <div class="main-button">
                <a class="nav-link" href="/admins/subject/delete?subjectId={{id}}">Delete</a>
            </div>
        </div>
    </td>
</tr>
{{/moreSubjects}}