{{#moreExams}}
<tr>
    <td>{{name}}</td>
    <td>
        <div class="row">
            <div class="col-6">
                <div class="main-button">
                    <a href="/teachers/subject/{{subjectId}}/type-exams/download?examId={{examId}}">Open</a>
                </div>
            </div>
        </div>
    </td>
    <td>
        <div class="row">
            <div class="col-6">
                <div class="main-button">
                    <a class="nav-link"
                        href="/teachers/subject/{{subjectId}}/type-exams/{{examId}}/correct-exams">Correct</a>
                </div>
            </div>
        </div>
    </td>
</tr>
{{/moreExams}}