{{#moreSubjects}}

<div class="blog-post">
    <div class="blog-thumb">
        <img src={{banner}} alt="">
    </div>
    <div class="down-content">
        <a href='/subject/{{id}}' class="subject-link">{{name}}</a>
        <p>{{description}}</p>
        <div class="post-options">
            <div class="row">
                <div class="col-6">
                    <ul class="post-tags">
                        <li><i class="fa fa-tags"></i></li>
                        <li><a href="#">{{gender}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{{/moreSubjects}}