<!DOCTYPE html>
<html>

{{>head}}

<body>

    {{>header}}

    <!--  ########## PAGE CONTENT ##########  -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="/images/imagenFotoPerfil.jpg" class="card-img-top rounded-circle img-fluid mx-auto"
                            alt="Imagen de Perfil" style="width: 100px; height: 100px">
                        <br></br>
                        <div class="text-content">
                            <h2>Name</h2>
                            <br></br>
                            <h4>Subjects</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <br></br>



    <section class="blog-posts grid-system" id="exams_student_subject">

        <div class="container">

            <div class="row">
                <div class="col-lg-2">
                    <div class="main-button">
                        <a class="nav-link" href="/admins/add-subject">Add Subject</a>
                    </div><br></br>
                </div>
                <div class="col-lg-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="moreAdminSubjects">

                            {{#moreSubjects}}

                            <tr>
                                <td>{{name}}</td>
                                <td>
                                    <div class="col-6">
                                        <div class="main-button">
                                            <a class="nav-link" href="/admins/subject?subjectId={{id}}">View</a>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-6">
                                        <div class="main-button">
                                            <a class="nav-link"
                                                href="/admins/subject/delete?subjectId={{id}}">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/moreSubjects}}

                        </tbody>
                    </table>
                </div>

                <div id="spinner" class="lds-dual-ring hidden" style="margin: 0 auto;">
                    <img src="/images/spinner.gif" alt="Loading..." />
                </div>

                <div class="col-lg-12">
                    <div class="main-button">
                        <a id="btnMoreAdminSubjects">View More</a> <!-- AJAX-->
                    </div>
                </div>

            </div>
        </div>
    </section>

    {{>footer}}


</body>

</html>