<!DOCTYPE html>
<html>

{{>head}}

<body>

    {{>header}}

    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-content">
                            <h4>Get Informed</h4>
                            <h2>{{subject.name}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="centered-div">
                <p>Congratulations, you have enrolled in a new subject!</p>
            </div>
        </div>
    </div>

    <section class="blog-posts">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 centered-div">
                    <div class="all-blog-posts">
                        <div class="row">

                            <!-- ITEM -->
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src={{subject.banner}} alt="">
                                    </div>
                                    <div class="down-content">
                                        <h4>{{subject.name}}</h4>
                                        <p>{{subject.description}}</p>
                                        <p>{{subject.allInfo}}</p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        <!--SE PUEDEN USAR PARA EL ALGORITMO DE RECOMENDACIÓN-->
                                                        <li><i class="fa fa-tags"></i></li>
                                                        <li><a>{{subject.gender}}</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{#isStudent}}
                            <div class="col-lg-12">
                                <div class="main-button">
                                    <a id="enrollButton">Enroll Now!</a>
                                </div>
                            </div>
                            {{/isStudent}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var modal = document.getElementById('myModal');
            var mostrarModalBtn = document.getElementById('enrollButton');
            var csrfToken = "{{token}}"; // Asegúrate de que el token CSRF esté disponible en tu plantilla

            // Función para mostrar el modal
            function mostrarModal() {
                modal.style.display = 'block';
            }

            // Función para cerrar el modal
            function cerrarModal() {
                modal.style.display = 'none';
                window.location.href = "/";
            }

            // Evento clic del botón para enviar la solicitud de inscripción y mostrar el modal
            mostrarModalBtn.addEventListener('click', function () {
                var confirmacion = confirm("Are you sure you want enroll in this subject?");
                if (confirmacion) {
                    var subjectId = "{{subject.id}}"; // Asume que el ID del sujeto está disponible en tu plantilla

                    // Prepara el cuerpo de la solicitud. Aquí, solo necesitamos enviar el comentario.
                    var body = JSON.stringify({
                        comment: "The student wants to enroll this subject: " + "{{subject.name}}"
                    });

                    // Envía la solicitud fetch al servidor
                    fetch(`/subject/${subjectId}/enroll`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRF-TOKEN': csrfToken // Incluye el token CSRF en la cabecera
                        },
                        body: body
                    })
                    .then(response => {
                        if(response.ok) {
                            return response.text();
                        }
                        throw new Error('Network response was not ok.');
                    })
                    .then(data => {
                        console.log(data);
                        mostrarModal();
                        setTimeout(cerrarModal, 2000); // Muestra el modal y redirige después de 2 segundos
                    })
                    .catch(error => console.error('Error:', error));
                }
            });
        });
    </script>



    {{>footer}}

</body>

</html>