<!DOCTYPE html>
<html>

{{>head}}

<body>

    {{>header}}

    <!--  ########## PAGE CONTENT ##########  -->
    <!-- Title -->
    <div class="heading-page header-text">
        <section class="page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="/images/imagenFotoPerfil.jpg" class="card-img-top rounded-circle img-fluid mx-auto"
                            alt="Imagen de Perfil" style="width: 100px; height: 100px">
                        <br></br>
                        <div class="text-content">
                            <h2>Name</h2>
                            <br></br>
                            <h4>{{name}}-{{subjectId}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <br></br>

    {{>navbar_subjects}}



    <section class="blog-posts grid-system" id="exams_student_subject">

        <div class="container">


            <div class="row">
                <div class="col-10"></div>
                <div class="col-2">
                    <div class="main-button">
                        <a class="nav-link" href="/teachers/subject/{{subjectId}}/add-exam">Add Exam</a>
                    </div>
                </div>
            </div>
            </br>

            <div class="row">
                <div class="col-lg-12">


                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">View</th>
                                <th scope="col">Correct</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="moreTeacherExams">

                            {{#moreExams}}
                            <tr>
                                <td>{{name}}</td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="main-button">
                                                <a href="/teachers/subject/{{subjectId}}/type-exams/download?examId={{examId}}">Open</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="main-button">
                                                <a class="nav-link" href="/teachers/subject/{{subjectId}}/type-exams/{{examId}}/correct-exams">Correct</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {{/moreExams}}
                        </tbody>
                    </table>
                </div>

                <div id="spinner" class="lds-dual-ring hidden">
                    <img src="/images/spinner.gif" alt="Loading..." />
                </div>

                <div class="col-lg-12">
                    <div class="main-button">
                        <button id="btnMoreTeacherExams">View More</button> <!-- AJAX-->
                    </div>
                </div>

            </div>
        </div>
    </section>


    {{>footer}}

</body>

</html>